<h2>{{playlistname}}</h2>
<table class="table table-striped table-hover">
	<tr>
		<td>
		#
		</td>
		<td>
		Artiest
		</td>
		<td>
		Nummer
		</td>
	</tr>
	<tr ng-repeat="track in playlist track by $index">
		<td ng-click="play($index, track.track.artists[0].name + ' - ' + track.track.name)">
		{{$index+1}}
		</td>
		<td ng-click="play($index, track.track.artists[0].name + ' - ' + track.track.name)">
		{{track.track.name}}
		</td>
		<td>
		<div class="pull-left" ng-repeat="artist in track.track.artists"><a data-ui-sref="root.viewartist({id:artist.id})">{{artist.name}}</a><small ng-show="!$last">,&nbsp;</small></div>
		</td>
	</tr>
</table>