<h2>Instellingen</h2>

<div class="row">
	<div class="col-md-9">
		<input type="text" class="form-control" id="spotifyID" placeholder="Spotify client ID">
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<hr />
	</div>
	<div class="col-md-3">
	</div>
</div>


<div class="row">
	<div class="col-md-9">
		<input type="text" class="form-control" id="spotifySECRET" placeholder="Spotify client secret">
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<hr />
	</div>
	<div class="col-md-3">
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<p>2.1 geluid omzetten naar 5.1/7.1 geluid <small>(als de geluidskaart dit ondersteunt en aan heeft staan)</small></p>
	</div>
	<div class="col-md-2">
		<div class="checkbox-slider--b-flat">
			<label>
				<input type="checkbox" checked><span></span>
			</label>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<hr />
	</div>
	<div class="col-md-3">
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<p>Videokwaliteit <small>(4k content werkt niet altijd vloeiend als er geen goede hardware decoder of internet verbinding aanwezig is)</small></p>
	</div>
	<div class="col-md-2">
<select class="form-control">
    <option value="low">Laag (tot 480p als dit beschikbaar is)</option>
    <option value="normal">Normaal (tot 1080p als dit beschikbaar is)</option>
    <option value="high">Hoog (tot 4k als dit beschikbaar is)</option>
</select>
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<hr />
	</div>
	<div class="col-md-3">
	</div>
</div>